*{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    font-weight: 600;
    font-style: normal;

}
// variable

$Max-width:1200px;
$trnas:0.5s;

// --------------------
:root{
    --main-color:#702C2B;
    --sec-color:#C56869;
    --font-color:#F3D7D4;
    --shadow-color:#EBDBCE;
    --btn-color:#DB9F95;
    --btn-hover:#925892;
}
body{
    scroll-behavior: smooth;
}
.section-container{
    max-width: $Max-width;
    margin: auto;
    padding: 5rem 1rem;
}
.section-header{
    margin-bottom: 1rem;
    font : {
        size: 2.5rem;
        weight:600;
    }
    color: rgb(49, 138, 138);
}
.section-description{
    font : {
        size: 1.1rem;
    }
    color:#222;
}
img{
    display: flex;
    width: 100%;
}

nav{
    position: fixed;
    isolation: isolate;
    width: 100%;
    max-width: $Max-width;
    margin-inline: auto;
    z-index: 9;

    .nav-header{
        padding: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(--main-color);
        .nav-logo .logo{
            color: var(--font-color);
        }
    }
}
.nav-menu{
    font-size: 1.5rem;
    color: var(--font-color);
    cursor: pointer;
}
.nav-links{
    position: absolute;
    top: 59px;
    left: 0;
    width: 100%;
    transition: $trnas;
    -webkit-transition: $trnas;
    -moz-transition: $trnas;
    -ms-transition: $trnas;
    -o-transition: $trnas;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    z-index: -1;
    transform: translateY(-100%);
background: var(--main-color);
&.open{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
a{
    font-weight: 500;
    color: var(--font-color);
}
}
.nav-search{
    display: none;
}
/* start add style for header section*/
.header-container{
    display: grid;
    overflow: hidden;
    .header-img{
        grid-area: 1/1/2/2;
        img{
            max-width: 900px;
            margin-left: auto;
        }
    }
}
.header-content{
    grid-area: 1/1/2/2;
    display: flex;
    align-items: center;
    > div{
        max-width: 600px;
        padding: 4rem 1rem;
        background-color: rgba(225,225,255,0.5);
        backdrop-filter:blur(10px);

    }
    h1{
        margin-bottom: 1rem;
        font : {
            size: 4rem;
            weight:600;
        }
        color: rgb(49, 138, 138);
        text-transform: capitalize;
    }
    p{
        font-size: 1.2rem;
        color:#423f3f;
        font-weight: 600;
        text-transform: capitalize;
    }
}

.deals-container{
    display: grid;
    gap: 2rem;
}
.deals-card{
    .section-header{
        font-size: 4rem;
        text-transform: capitalize;
}
.parg{
    text-transform: capitalize;
    font-size: 1.8rem;

}

    span{
        display: inline-block;
        margin-bottom: .5rem;
        font-size: 2rem;
    }
    h4{
        margin-bottom: .5rem;
        font-size: 1.5rem;
        font-weight: 600;
        color:  #318a8a;
    }
    p{
        font-size: 1rem;
        color:#423f3f;
    }
}
/* start add style for about section*/

.about-header{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .section-description{
        max-width: 600px;
    }
    .about-btn{
        width: fit-content;
        padding: 10px 25px;
        outline: none;
        border: none;
        font-size: 14px;
        color: black;
        white-space: nowrap;
        background-color:#318a8a;
        cursor: pointer;
        border-radius: 12px;
        transition:$trnas;
        -webkit-transition:$trnas;
        -moz-transition:$trnas;
        -ms-transition:$trnas;
        -o-transition:$trnas;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
        &:hover
               {
            background-color:#db9f9529;
            color: black;
        }
}
}
.about-content{
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
    .about-img{
        overflow: hidden;
    }
    .about-grid{
        display: grid;
        gap: 2rem;
        .about-card{
            h1{
                font-size: 1.5rem;
                margin-bottom: 0.5rem;
                color: #423f3f;
            }
            h4{
                margin-bottom: 0.5rem;
                font-size: 1.5rem;
                color:#318a8a;
            }
            p{
                font-size: 1rem;
                color: #423f3f;
            }
            
        }
    }
}
/* start add style for about section*/
.product-container .section-header{
    text-align: center;
}
.product-grid{
    margin-top: 4rem;
    display: grid;
    gap: 2rem;
    .product-card{
        position: relative;
        isolation: isolate;
        padding: 2rem;
        cursor: pointer;
        img{
            max-width: 270px;
            margin-inline: auto;
            background-size: cover;
            background-position: center;
        }
        h4{
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }
        p{
            font-size: 1rem;
            color: #423f3f;
            margin-bottom: 1rem;
        }
    }
}
.product-card{
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 60%;
        background: #faeeee;
        z-index: -1;
        transition: $trnas;
        -webkit-transition: $trnas;
        -moz-transition: $trnas;
        -ms-transition: $trnas;
        -o-transition: $trnas;
}
&:hover{
    &::before{
        height:95%;

    }
}
}
.client-content .section-header{
    text-align: center;
}

.client-container p {
    padding-bottom: 1rem;
}
.client-card{
    padding: 2rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #db9f9529;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.client-card h4{
    font-size: 1.2rem;
    color: #318a8a;
    padding-bottom: 1rem;
    text-align: center;
}
.client-card h5{
    font-size: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
.stars{
    color: #c9c93e;
    text-align: center;
    padding-bottom: 1rem;
}
.swiper{
    cursor: pointer;
 margin-top: 4rem;
 width: 100%;

}
// footer style
.footer{
    background: #db9f9529;
    border: 1px solid black;
}
.footer-container{
    display: grid;
    gap: 4rem 2rem;
}
.footer-logo{
    margin-bottom: 1rem;
}
.footer-logo .logo{
    color: #318a8a;
    font-size: 18px;
    font-weight: 700;
}
.footer-logo .logo:hover{
    opacity: 0.5;
}
.footer-col p{
margin-bottom: 2rem;
opacity: 0.8;
color:#222;
font-size: 14px;
}
.footer-social{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.footer-social a{
    color: #222;
    font-size: 18px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.footer-social a:hover{
    opacity: 0.5;
}
.footer-col h3{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #318a8a;
}
.footer-col .footer-links{
    display: grid;
    gap: 1rem;
}
.footer-col .footer-links a{
    
    color: #222;
    opacity: 0.8;
}
.footer-col .footer-links a:hover{
    opacity: 0.5;
}
.footer-bar{
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    opacity: 0.8;

}
.contact-header {
    .contact-text{
        text-align: center;
        h2{
            margin-bottom: 1rem;
            font-size: 2rem;
            color: #318a8a;
        }
        h1{
            font-size: 2.5rem;
            color: #222;
            opacity: 0.8;
            margin-bottom: 0.5rem;
        }
        p{
            opacity: 0.5;
            margin: 2rem;
        }
    }
}
form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    input {
        width: 80%;
        padding: 0.5rem;
        outline: none;
        border-radius: 10px;
        border: 1px solid rgb(109, 106, 106);
        font-size: 14px;
    }
    textarea{
        width: 80%;
        height: 5rem;
        padding: 0.5rem;
        outline: none;
        border-radius: 10px;
        border: 1px solid rgb(109, 106, 106);
        font-size: 14px;
    
    }
    .btn{
        width: 20%;
        padding: 10px;
        outline: none;
        border: none;
        font-size: 14px;
        color: black;
        white-space: nowrap;
        background-color:#318a8a;
        cursor: pointer;
        border-radius: 12px;
        transition:$trnas;
        -webkit-transition:$trnas;
        -moz-transition:$trnas;
        -ms-transition:$trnas;
        -o-transition:$trnas;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
        &:hover
               {
            background-color:#db9f9529;
            color: black;
        }

    }
}
.contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    span{
        font-size:1.2rem;

    }
}
/* Responsive design*/
@media(width > 540px){
    .deals-container{
        grid-template-columns: repeat(2,1fr);
    }
    .deals-card .section-header{
        font-size: 2.5rem;
    }
    .deals-card .parg {
        font-size: 1.2rem;
    }
    .about-grid{
        grid-template-columns: repeat(2,1fr);
    }
    .product-grid{
        grid-template-columns: repeat(2,1fr);
    }
    .footer-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(width > 768px){
nav{
    position: static;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    font-size: 22px;
  .nav-header{
    padding: 0;
    flex: 1;
    background-color: transparent;
    .nav-logo {
        .logo{
            color: black;
            font-size: 25px;
        }
    }
  }  
}

.nav-menu{
    display: none;
}

.nav-links{
    position: static;
    padding: 0;
    width: fit-content;
    flex-direction: row;
    gap: 3rem;
    background-color: transparent;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    a{
        color: #222;
        &:hover{
            color: var(--font-color);
        }
    }
}
.nav-search{
    flex: 1;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    input{
        padding-block: 5px;
        outline: none;
        border: none;
        width: 0;
        font-size: 1rem;
        color: #222;
        border-bottom: 1px solid var(--sec-color);
        transition: $trnas;
        -webkit-transition: $trnas;
        -moz-transition: $trnas;
        -ms-transition: $trnas;
        -o-transition: $trnas;

        }
        &.open{
            input{
                width: 100%;
                max-width: 15rem;
            }
}
    span{
        font : {
            size: 1.5rem;
            weight: 600;
        }
        color: #DB9F95;
        cursor: pointer;
    }
}
.header-container{
    padding-top: 0;
}

.deals-container{
    grid-template-columns: repeat(3,1fr);
    &:nth-child(1){
        grid-column: 1/4;
    }
}
.deals-card .section-header{
    font-size: 2.5rem;
}
.deals-card .parg {
    font-size: 1.2rem;
}
.about-header{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.about-content{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
.about-img{
    grid-area: 1/2/2/3;
}
.product-grid{
    grid-template-columns: repeat(3,1fr);
}
.footer-container{
    grid-template-columns: repeat(4,1fr);
}

}
@media(width> 1040px){
    .deals-container{
        grid-template-columns: repeat(4,1fr);
        &:nth-child(1){
            grid-column:unset;
        }

    }
    .about-grid{
        gap: 4rem 2rem;
    }
}